{% load static %}
{% load tailwind_tags %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Centour</title>
        <script type="text/javascript" src="{% static '/party/js/htmx.min.js' %}"></script>
        {% tailwind_css %}
    </head>

    <body class="bg-slate-100 min-h-screen flex justify-center">
        <div class="container max-w-screen-xl mx-auto p-4 flex">
            <div class="w-1/4 p-4 bg-slate-200">
                <h1 class="text-3xl font-semibold text-slate-800 mb-4">
                    Centour
                </h1>
                <nav class="flex flex-col space-y-4">
                    {% if user.is_authenticated %}
                    <span class="text-gray-700 text-lg mb-4">Logged in as {{ user.username }}</span>
                    <hr class="border-t border-slate-300 py-2">
                    <a href="{% url 'profile' %}" class=" text-slate-600 text-lg">Profile</a>
                    <a href="{% url 'discover' %}" class="text-slate-600 text-lg">Discover</a>
                    <a href="{% url 'logout' %}" class="text-slate-600 text-lg">Logout</a>
                    {% endif %}
                </nav>
            </div>
            <main class="flex-1 p-4">
                <h1 class="text-3xl font-semibold text-slate-800 mb-4">
                    {% block title %}Centour{% endblock %}
                </h1>
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </body>

</html>