{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Centour</title>
    <script type="text/javascript" src="{% static '/party/js/htmx.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/party/js/alpine.min.js' %}" defer></script> <!-- NEW -->
    {% tailwind_css %}
</head>
<body class="bg-custom-lavender">
    <main class="container p-5 m-auto">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>