{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto p-6 flex flex-col items-start">
    <h1 class="text-3xl font-bold text-slate-700">Centour</h1>
    <form method="post" class="mt-4">
        {% csrf_token %}
        <label for="username" class="block">Username</label>
        <input type="text" name="username" id="username" class="w-full px-4 py-2 border border-slate-300 rounded" required>
        <label for="password" class="block mt-4">Password</label>
        <input type="password" name="password" id="password" class="w-full px-4 py-2 border border-slate-300 rounded" required>
        
        <button type="submit" class="my-4 px-4 py-2 bg-slate-700 text-white rounded">Log In</button>
    </form>
</div>
{% endblock %}
